
body {
  background-color: hsl(198, 19%, 98%);
}

body {
  background-color: hsl(198, 19%, 98%);
}


a {
    text-decoration: none;
  }

h1 {
    padding: 50px 10px 5px 0px;
    font-size: 2em;  
    font-family: "Montserrat", Times, serif;
    text-align: center;
  }

h2 {
    padding: 0px 10px 5px 0px;
    font-size: 35px;  
    font-family: "Montserrat", Times, serif;
    text-align: center;
  }


 #box-text{
    padding: 0px 50px 0px 50px;
    font-size: 50%;  
    margin: 0px 1px 0px 0px; 
    font-family: "Montserrat", Times, serif;
    text-align: center;
    color: black;
    line-height: 50px;
  }

p {
  font-size: 1.3em;
  font-family: "Arial", Times, serif;
}


.images-text {
    color: black;
    font-family: "Montserrat", Times, serif;
}


#main-image {
    width: 1000px;
    margin-top: 0px;
   
}




/* Container in the middle of the screen with an image. Container needed to position the button. Adjust the width as needed


/* Container at the bottom of the screen with an image */

  .item-assorted{
    background: hsla(228, 36%, 90%, 0.53);
    
}
  .item-assorted:hover {
    background-color: rgba(224, 191, 60, 0.5);
} 



  .item-large {
    background: hsla(228, 36%, 90%, 0.53);
    margin: 0px 0px 0px 0px; 
    grid-area: 1/3/2/5;
    padding: 00px;
    display:block;
  }
  .item-large:hover {
    background-color: rgba(224, 191, 60, 0.5);
}



  .item-bread {
    background: hsla(228, 36%, 90%, 0.53);
    margin: 0px 0px 0px 0px; 
    grid-area: 1/5/2/6;
    padding: 0px;
    display: block;
}
  .item-bread:hover {
    background-color: rgba(224, 191, 60, 0.5);
}



  .item-shop-now {
    background:hsla(228, 73%, 4%, 0.55);
    margin: 0px 1px 0px 0px; 
    width: 8em;
    text-align: center;
    line-height: 200px;
    color: white;
    font-family: "Montserrat", Times, serif;
}
  .item-shop-now:hover {
    animation-name: background-color1;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
     }
    @keyframes background-color1 {
    100% {
      background-color: rgba(224, 191, 60, 0.75);
    }
  }
  


  .item-explore {
    background:hsla(228, 73%, 4%, 0.55);
    margin: 0px 0px 0px 1px; 
    width: 8em;
    text-align: center;
    line-height: 200px; /* puts the item in the middle of the block because it's height is bigger than the parent block */
    color: white;
    font-family: "Montserrat", Times, serif;
    
    
}

   .item-explore:hover {
    animation-name: background-color2;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
    @keyframes background-color2 {
    100% {
      background-color: rgba(224, 191, 60, 0.75);
    }
  }


   
  
  .container2 {
    font-size: 40px;
    height: 850px;
    width: 1000px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background: LightGray;
    background-image: URL("./IMG_6065.jpg");
    background-size: cover;
  }



.viktor-image {
    width: 300px;
}




.storybox {
   margin-top: 50px;
   font-size: 18px;
   font-family: "Arial", Times, serif;
   width: 100%;
   align-items: center;
   justify-content: center;

   display: grid;
   grid-template-columns: 40% 30%;
   grid-template-rows: auto; 
   border-radius: 5px 5px 5px 5px;
}


.storybox1 {
   margin-top: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 18px;
   font-family: "Arial", Times, serif;
   width: 100%;
   align-items: center;
   justify-content: center;
   background: rgba(183, 196, 202, 0.55);
   display: grid;
   grid-template-columns: 40% 50%;
   grid-template-rows: auto; 
   border-radius: 5px 5px 5px 5px;
}

.face {
display: block;
margin: auto;
width: 300px;
border-radius: 50%;
border: 2px solid black;}




.myDiv {
    position: relative;
    z-index: 1;
    text-align: center;
}

.myDiv .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: URL('./IMG_6898.jpg') center center;
    background-size: cover;
    opacity: 0.3;
    height: 300px;
    width: 1000px;
}




  .sub-now {
    background:hsla(228, 73%, 4%, 0.55);
    margin: 0px 0px 0px 0px; 
    width: 200px;
    height: 37px;
    font-size: 15px;
    color: white;
    font-family: "Montserrat", Times, serif;
}
  .sub-now:hover {
    animation-name: background-color1;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
     }
    @keyframes background-color1 {
    100% {
      background-color: hsla(201, 95%, 49%, 0.75);
    }
  }

  .email-field {
    width: 300px;
    height: 30px;
}

  .email-text {
    font-size: 10px;
    font-family: "Montserrat", Times, serif;
    text-align: center;
}



.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}





  .buybox {
    font-size: 40px;
    height: 150px;
    width: 1000px;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 100px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }


.buyfield1 {
     margin: 0px 10px 0px 0px;
     background: LightGray;
     grid-area: 1/1/2/2;
     background-image: URL('./IMG_6995.jpg');
     background-size: cover;
}

.buyfield2 {
     margin: 0px 10px 0px 0px;
     background: LightGray;
     grid-area: 1/2/2/3;
     background-image: URL('./Roll.jpeg');
     background-size: cover;
    
}


.pricefield1 {
    margin: 0px 0px 0px 1px; 
    grid-area: 2/1/3/2;
    line-height: 200px; 
    color: black;
    font-family: "Montserrat", Times, serif;
}


.pricefield2 {
    margin: 0px 0px 0px 1px; 
    grid-area: 2/2/3/3;
    line-height: 200px; 
    color: black;
    font-family: "Montserrat", Times, serif;
}






/* below is the code for insta feed */



$lg: 580px;

html, 
body {
  margin: 0;
  padding: 10px;
  background: darken(whitesmoke, 10%);
}
#instafeed {
  width: 100%;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding: 50px 10px 5px 0px;
  
  a {
    position: relative;
    width: 50%;
    
    @media only screen and (min-width: $lg) {
      width: 25%
    }
    
    img {
      display: block;
      width: 100%;
      height: 100%;
      
    }
    div.footer {
      width: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .5rem 1rem;
      background: transparentize(dodgerblue, 0.2);
      font-size: .8rem;
      font-family: 'Open Sans', sans-serif;
      color: white;
      text-transform: uppercase;
     
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: .5rem;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
      }
    }
    div.user {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    div.caption {
      height: 0;
      opacity: 0;
      margin-bottom: 0;
      background: rgba(0,0,0,0.2);
      word-break: break-all;
    }
    &:hover .caption,
    &:focus .caption {
      margin: -.5rem -1rem .5rem;
      padding: .5rem 1rem;
      opacity: 1;
      height: auto;
    }
  }
}



